/*--> COLORES

naranja-primary: #f12711
naranja-secondary: #f5af19

verde-primary: #1d8d36
verde-secondary: #8ef519

azul-primary: #09077c
azul-secondary: #00b4db */
*:before, *:after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --color-naranja-primary:#f12711;
    --color-naranja-secondary: #f5af19;

    --color-verde-primary: #1d8d36;
    --color-verde-secondary: #8ef519;

    --color-azul-primary: #09077c;
    --color-azul-secondary: #00b4db;

}

body {
    font-family: "Montserrat", sans-serif;
}

/*-----------------CUERPO CUERPO-------------*/
.background {
    background-size: cover;
    background-position: bottom;
}

.card-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    min-width: 100%;
    height: 95vh;
}

.card-container .card:hover {
transform: translateY(35px);
box-shadow: 0 12px 16px rbga(0,0,0,0.2);
}

/*.card:hover .card-image img {
    width: 10rem;
    margin-top: -6.2rem;
    position: relative;
    z-index: 50;
    transform: rotate(10deg);
}*/

.card {
    height: 90vh;
    width: 15rem;
    min-width: 35rem;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.6);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    position: relative;
    background-color: #fff;
    z-index: 10;

}

.card-image {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -38rem;
}

.card-image img {
    width: 10rem;
    height: auto;
    object-fit: cover;
    transition: all 0.3s ease;
    backface-visibility: hidden;
    margin-bottom: 1rem;
}

.card-image img .lacie {
    width: 100px;
    height: 100px;
}

.card-image .foto-2 {
    width: 120px;
    height: 100px;
}
.card-image .foto-3 {
    width: 100px;
    height: 100px;
}

.card-text .logo {
    width: 50px;
    height: 50px;
    margin-top: 5rem;
    
}

.card-text .logo-3 {
    width: 80px;
    height: 50px;
    margin-top: 5rem;
}

/*-------------CARD CENTER----------*/

.card-text {
    font-size: 1.4rem;
    text-align: center;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    margin-top: -5rem; /*margen de altura de iconos*/
}

.disco {
    font-weight: 1000;
}



.card-text h2 {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1px 1px auto;
}

.card-text h2 i {
    font-size: 2rem;
    margin: 1rem;
}

.card-text p {
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.card-text ul {
    list-style: none;
    padding: 0.5px 0.5px;
}

.fasolid.fa-database, .externo-1 {
    color: var(--color-naranja-primary);
}

.fasolid.fa-database, .externo-2 {
    color: var(--color-verde-primary);
}

.fasolid.fa-database, .externo-3 {
    color: var(--color-azul-primary);

}

/*--------------pie of card-------------*/

.card-stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 89%;
    padding: 2rem;
    font-size: 1.2rem;
    color:#fff;
    font-weight: 100%;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    position: absolute;
    bottom: 0;
}

.card-1 {
    background-image: linear-gradient(to right,
    var(--color-naranja-primary), var(--color-naranja-secondary));
}

.card-2 {
    background-image: linear-gradient(to right,
    var(--color-azul-primary), var(--color-azul-secondary));
}

.card-3 {
    background-image: linear-gradient(to right,
    var(--color-verde-primary), var(--color-verde-secondary));
}

.stat {
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-items: center;
}

.stat:not(:last-of-type)::after {
    content: "";
    background-color: rgb(255,255,255,0.3);
    width: 0.2rem;
    height: 100%;
    position: absolute;
    margin-left: 11rem;
}


.pie-de-pagina h2 {
    margin: 50px auto;
    text-align: center;
   
}

figure {

    margin: 0;
    padding: 0;
}


























